@model FATEA.ProjetoPoster.Web.ViewModels.Poster.AtribuirPosterViewModel
@{
    ViewBag.Title = "AtribuirPoster";
}

<h2>Atribuição de Pôsteres</h2>
@using (Html.BeginForm("AtribuirPoster", "Posters", FormMethod.Post))
{

@Html.AntiForgeryToken()
<div class="row">
    <div class="form-group col-md-8">
        @Html.DisplayNameFor(p => p.AvaliadorId)
        @Html.DropDownListFor(p => p.AvaliadorId, (SelectList)ViewBag.Avaliadores, new { @class = "form-control" })
        @Html.ValidationMessageFor(p => p.AvaliadorId)


    </div>
    <div class="row">
        <div class="form-group col-md-8">
            @Html.DisplayNameFor(p => p.PosterId)
            @Html.DropDownListFor(p => p.PosterId, (SelectList)ViewBag.Posteres, new { @class = "form-control" })
            @Html.ValidationMessageFor(p => p.PosterId)

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Atribuir" class="btn btn-default" />
            </div>
        </div>
    </div>
</div>
}

